################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LispInterpreter/bin/Debug/netcoreapp3.1
/LispInterpreter/obj
